<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Binding</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
</head>
<body>

	<div class="container" ng-app="">
		<div class="hero-unit">
			<h1><a href="javascript:">Angular Binding</a></h1>
		</div>

		<h2>2 + 4 = {{2 + 4}}</h2>
		<input  type="text" placeholder="Type something…" ng-model="echo">

		<h2>{{echo}}</h2>
		<!-- 
		$('.text').keyPress(function() {
			$('h2.tes').text($(this).val());
		});
		-->

	</div>


<script type="text/javascript" src="../static/js/angular.min.js"></script>
</body>

</html>